h1{
    text-align: center;
}
.container{

    background-color: rgba(199, 197, 197, 0.466);
}
table{
    margin-left: 200px;
   
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}
#one{
  
    padding-right: 150px;
    
   
   
}
#two{
  
    padding-right: 150px;
    text-transform: uppercase;
    font-weight: bold;
}
#three{
  
    padding-right: 150px;
}